<div class="about">
    <br>
    <br>
    <div class="about__divider">*****</div>
    <div class="about__text">
        Creado por 
        <span onclick="window.open('https://github.com/ninyam/paresordenados')" style="cursor: pointer">
            <i class="fa fa-github-alt" aria-hidden="true"></i> ninyam
        </span>
        basado en el tema <a onclick="window.open('https://github.com/knhash/Pudhina')" style="cursor: pointer">Pudhina</a>
         - Íconos de 
        <span onclick="window.open('https://icons8.com/illustrations/author/zD2oqC8lLBBA')" style="cursor: pointer">
            <img src="{{ '/assets/img/icons8-icons8-24.png' | prepend: site.baseurl }}" style="vertical-align:middle">
        </span>
    </div>
</div>
